<div class="rating">
  <h2 class="rating__title">Лучшие результаты</h2>
  <table class="rating__table">
    @if(bestResultWithPlayer){ @for(obj of bestResultWithPlayer.array; track
    $index;) {
    <tr class="rating__tr">
      <td class="rating__td rating__number">{{ obj.position }}.</td>
      <td class="rating__td rating__name">{{ obj.player.name }}</td>
      <td class="rating__td rating__points">{{ obj.player.value }}</td>
    </tr>
    } } @else {
    <div>Идёт загрузка таблицы результатов!</div>
    }
  </table>
</div>
