<div class="header">
  <div class="name">Имя: {{ this.form.value?.username }}</div>
  <div class="points">Баллы: {{ resultSum ? resultSum : 0 }}</div>
  <div class="timer">Таймер: {{ formatTime(countdown + 1) }}</div>
  <div class="box__button">
    <button (click)="pause($event)" class="button">
      @if(!isPaused && !isGameOver) {
      <svg icon="pause" class="svg"></svg>
      } @else {
      <svg icon="play" class="svg"></svg>
      }
    </button>
    <button (click)="playAgain()" class="button">
      <svg icon="reload" class="svg"></svg>
    </button>
  </div>
</div>

<div class="container" #Container>
  @for(item of [0,1,2,3,4,5,6,7,8,9]; track item) {
  <app-fish
    [index]="item"
    [(resultSum)]="resultSum"
    [isPaused]="isPaused"
    [isGameOver]="isGameOver"
    [widthParent]="width"
    [heightParent]="height"
  />
  }
</div>

@if(isPopup()){
<div class="popup">
  <div class="popup__inner">
    <h1 class="popup__title">Рыбалка</h1>
    @if(resultSum){
    <h3 class="popup__result">
      Ваш результат: <span>{{ resultSum }}</span>
    </h3>
    }
    <form class="popup__form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        formControlName="username"
        class="popup__input"
        type="text"
        placeholder="Введите имя"
        minlength="3"
        maxlength="20"
      />
      @if(form.controls["username"].invalid &&
      form.controls["username"].touched){
      <label for="" class="popup__label"> Укажите имя !</label> }
      <button class="popup__button" type="submit">Начать игру</button>
    </form>
    <app-rating [bestResultWithPlayer]="bestResultWithPlayer" />
  </div>
</div>
}
