<div class="box">
  <div>Имя: Олег</div>
  <div>Баллы: {{ resultSum }}</div>
  <div class="timer">Таймер: {{ formatTime(countdown + 1) }}</div>
  <div class="box__button">
    <button (click)="pause($event)" class="button">
      @if(!isPaused && !isGameOver) {
      <svg icon="pause" class="svg"></svg>
      } @else {
      <svg icon="play" class="svg"></svg>
      }
    </button>
    <button (click)="reload()" class="button">
      <svg icon="reload" class="svg"></svg>
    </button>
  </div>
</div>
<div class="container" #Container>
  @for(item of [0,1,2,3,4,5,6,7,8,9]; track item) {
  <app-fish
    [index]="item"
    [(resultSum)]="resultSum"
    [isPaused]="isPaused"
    [isGameOver]="isGameOver"
    [widthParent]="width"
    [heightParent]="height"
  />
  }
</div>
